# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db